<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                        </canvas>
                        </div>
                    </div> -->
                    <app-grafica-detalle [chartTitle]="graficos['grafico1']['leyenda']" [chartStyle]="graficos['grafico1']['type']" [chartLabels]="graficos['grafico1']['labels']" [chartData]="graficos['grafico1']['data']"></app-grafica-detalle>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                        </canvas>
                        </div>
                    </div>
                </div> -->
                <app-grafica-detalle [chartTitle]="graficos['grafico2']['leyenda']" [chartStyle]="graficos['grafico2']['type']" [chartLabels]="graficos['grafico2']['labels']" [chartData]="graficos['grafico2']['data']"></app-grafica-detalle>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                        </canvas>
                        </div>
                    </div> -->
                    <app-grafica-detalle [chartTitle]="graficos['grafico3']['leyenda']" [chartStyle]="graficos['grafico3']['type']" [chartLabels]="graficos['grafico3']['labels']" [chartData]="graficos['grafico3']['data']"></app-grafica-detalle>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                        </canvas>
                        </div>
                    </div>
                </div> -->
                <app-grafica-detalle [chartTitle]="graficos['grafico4']['leyenda']" [chartStyle]="graficos['grafico4']['type']" [chartLabels]="graficos['grafico4']['labels']" [chartData]="graficos['grafico4']['data']"></app-grafica-detalle>
            </div>
        </div>
    </div>
</div>